<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="col-lg-12 text-center">
    <iframe scrolling="no" style="border:none;" seamless="seamless" src="plotly/plotly_graph.html" height="800" width="100%">
    </iframe>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "This is subheading" }}</h3>
        <pre><code>
          <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
        </code></pre>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-left">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
      <div class="col-lg-8 text-right">
        <img class="d-block w-100"alt="Carousel Bootstrap Second" src="/assets/img/lgbtGroup.jpeg" />
      </div>     
    </div>
    <div class="row">
      <div class="col-lg-4 text-center img__description-1">
        <img class="d-block w-100" alt="loading" src="/assets/img/lgbtGroup.jpeg" />
        <p> test </p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="d-block w-100" alt="loading" src="/assets/img/lgbtGroup.jpeg" />
      </div>
      <div class="col-lg-4 text-center">
        <img class="d-block w-100" alt="loading" src="/assets/img/lgbtGroup.jpeg" />
      </div>   
    </div>
    <div class="row">
      <div class="col-lg-4 text-center">
        <img class="d-block w-100" src="/assets/img/wordcloud/health.png" onMouseOut="this.src='/assets/img/wordcloud/health.png'" onMouseOver="this.src='/assets/img/wordcloud/green.jpg'"/>
        
      </div>
      <div class="col-lg-4 text-center">
        <img class="d-block w-100" src="/assets/img/wordcloud/homeless.png" onMouseOut="this.src='/assets/img/wordcloud/homeless.png'" onMouseOver="this.src='/assets/img/wordcloud/yellow.jpg'"/>
      </div>
      <div class="col-lg-4 text-center">
        <img class="d-block w-100" src="/assets/img/wordcloud/politics.png" onMouseOut="this.src='/assets/img/wordcloud/politics.png'" onMouseOver="this.src='/assets/img/wordcloud/purple.jpg'"/>
      </div>   
    </div>
  </div>
</section>
<!-- End About -->