// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.service-background1{
  background-color:aqua
}

.service-background2{
  background-color:rgb(245, 20, 226)
}

.service-background3{
  background-color:rgb(187, 255, 0)
}